@import "tailwindcss";

@layer base {
  body {
    @apply bg-white;
  }

  html.dark body {
    @apply bg-black
  }
}

@theme {
  --font-primary: "Inter", "sans-serif";
  --font-secondary: "Playfair Display", "serif";
  --color-primary: #064E3B;
}